html {
    display: block;
  }
  

body {
    font-family: Arial, sans-serif;
}

.section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: green;
}

h1 {
    
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;  
    border: green 2px solid;
    
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

img {
    height: auto;
    width: 40%;
}

#messi {
    border: green 20px solid;
}
